<template>
    <small>
        Los Udânas son una colección hecha por los discípulos de Buda, de anécdotas y recuerdos.

        <p>Traducción directa desde el Pâli de Carmen Dragonetti. Leído por Sebastian Silva.</p>
        <a href="Udana.pdf">Descarga el texto en PDF</a>

        <p><i>Las grabaciones se encuentran en desarrollo activo.</i></p>
    </small>
</template>
