<template>
    <div>
        <h4>Capítulo:&nbsp;&nbsp;</h4>
        <button id="pressed">1</button>
        <button @click="goto(2)">2</button>
        <button title="¡pronto!" disabled v-for="x in 8">{{ x + 2 }}</button>
    </div>
</template>

<script lang=python>

class Component:

    def goto(self, chap):
        location.href = "https://udanas.gitlab.io/cap" + chap + "/"

</script>

<style :scoped>

:scope {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

button {
    background-color: silver;
    height: 3em;
    margin: 2px;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid black;
}

#pressed {
    background-color: orange;
}
</style>
